.cards__block{
    margin-left: 16px;
    width: calc(100% - 332px);

    .cards__wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fill, 332px);
        column-gap: 16px;
        row-gap: 16px;
        justify-content: center;
    }
}

