* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  color:#000000;
}

body {
  margin: 0; 

}

/* .container {
  margin: 0 auto;
  position: relative;
} */

p, ul, ol {
  margin: 0 0 10px 0;
}

* + p, * + ul, * + ol {
  margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0 0;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  margin-top: 0;
}

a, .link {
  color: blue;
  text-decoration: none;
}
