header {
    position: relative;
}

nav {
    height: 50px;
    background-color: #212121;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;

}

.menu .menu_link {
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;
}

.menu .menu_link:hover {
    color: #1eacc7;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}

.menu .menu_item:last-child {
    border-right: none;
}

.subheader {
    height: 84px;
    width: 100%;
    background-color: rgba(0,0,0, 0.6);
    position: absolute;
    margin-top: 50px;
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official_text {
    opacity: 0.5;
    font-size: 13px;
    font-weight: 100;
    color: #ffffff;
    margin-top: 6px;
}

.subheader .subheader_call {
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    margin-top: 19px;
    text-align: right;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    text-align: right;
    line-height: 12px;
}

.subheader .subheader_btn {
    width: 178px;
    height: 52px;
    background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%);
    border-radius: 5px;
    box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.11);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    color: #ffffff;
    margin-top: 16px;
}

.subheader .subheader_btn:hover {
    background-image: none;
    background-color: #1eacc7;
}