.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../../assets/img/bg1_859.png) center (center/cover) no-repeat; 

    &__wrapper {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        margin-top: 90px;
    }

    &__header {
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        line-height: 42px;
    }

    &__subheader {
        margin-top: 17px;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        line-height: 24px;
    }

    &__icons {
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    
    &__icon {
        width: 108px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }

    &__link {
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        margin-top: 18px;
        a {
            color: #fff;
            text-transform: uppercase;
            text-decoration: underline;
            &:hover {
                color: $main-color;
            }
        }
    }
}
