.sidepanel {
    position: fixed;
    top: 230px;
    left: 50px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    &__divider {
        width: 2px;
        height: 70px;
        background: #000;
    }
    &__text {
        width: 25px;
        height: 150px;
        font-weight: 500;
        span {
            transform: rotate(-90deg) translate(-30%, -260%);
            display: block;
            width: 150px;
        }
    }
    &__link {
        img:hover {
            background: $main-color;
            border-radius: 35%;
        }
    }
}