@media (max-width: 1200px) {
    .footer{ 
        &__info {
            width: 420px;
            height: 260px;
            padding: 40px 45px 50px 45px;
        }
    }
}

@media (max-width: 992px) {
    .footer{ 
        &__info {
            width: 380px;
            height: 250px;
            padding: 40px 35px 30px 35px;
        }
        &__addres {
            font-size: 18px;
            margin-bottom: 30px;
        }
        &__phone {
            font-size: 18px;
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 768px) {
    .footer{ 
        &__info {
            width: 350px;
            height: 230px;
            padding: 30px 20px 30px 20px;
        }
    }
}

@media (max-width: 576px) {
    .footer{ 
        &__info {
            width: 100%;
            height: 156px;
            padding: 20px 10px 15px 10px;
            .ymaps-2-1-79-zoom {
                margin-top: 70px;
            }
        }
        &__addres {
            font-size: 18px;
            margin-bottom: 20px;
        }
        &__phone {
            font-size: 18px;
            margin-bottom: 20px;
        }
        &__social-item {
            width: 40px;
            height: 40px;
        }
    }
}