@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .advantages {
        &__item {
            max-width: 205px;
        }
        &__descr {
            font-size: 14px;
        }
    }
}

@media (max-width: 768px) {
    .advantages {
        &__item {
            max-width: 170px;
        }
        &__descr {
            font-size: 12px;
        }
        &__subtitle {
            font-size: 15px;
        }
    }
}

@media (max-width: 576px) {
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 0;
        }
        &__item {
            max-width: 280px;
            margin-top: 20px;
        }
        &__descr {
            font-size: 12px;
            margin-top: 15px;
        }
        &__subtitle {
            font-size: 15px;
            margin-top: 15px;
        }
    }
}