@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .title {
        &_left {
            font-size: 30px;
        }
    }
    .consultation {
        padding-top: 70px;
        &__descr {
            font-size: 18px;
            margin-top: 50px;
        }
    }   
    .consultation {
        &__descr {
            height: 45px;
        }
    }
}

@media (max-width: 768px) {
    .consultation {
        min-height: 600px;
        padding-top: 70px;
        padding-bottom: 80px;
        &__descr {
            font-size: 16px;
            margin-top: 30px;
        }
    }   
    .consultation {
        &__descr {
            height: 40px;
        }
    }
}

@media (max-width: 576px) {
    .consultation {
        min-height: 500px;
        padding-top: 70px;
        padding-bottom: 60px;
        &__descr {
            font-size: 14px;
            margin-top: 20px;
        }
    }   
    .consultation {
        &__descr {
            height: 40px;
        }
    }
    .feed-form {
        width: 290px;
        input {
            font-size: 12px;
        }
    }
    .button_submit {
        width: 290px;
    }
}
