.finish .finish_header {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.finish .finish_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url("../../img/bg/bg_finish.png") center center/cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_descr {
    margin-top: 25px;
    text-align: center;
    font-size: 17px;
    line-height: 20px;
    font-weight: 300;
    color: #efefef;
}


