.footer {
    min-height: 166px;
    background-color: #1a1a1a;
}

.footer .footer_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 61px 0 69px 0;
}

.footer .footer_wrapper .footer_links {
    display: flex;
    flex-direction: row;
    align-items: space-between;
}

.footer .footer_wrapper .footer_links_text {
    font-size: 15px;
    font-weight: 300;
    text-decoration: underline;
    color: #888888;
    line-height: 21px;
    outline: none;
}

.footer .footer_wrapper .footer_links_call, .stick {
    text-decoration: none;
}

.footer .footer_wrapper .stick {
    padding: 0 5px;
}