.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    font-size: 29px;
    font-weight: 900;
    text-transform: uppercase;
    color: #299cbd;
}

.optimization .optimization_text {
    margin-left: 391px;
    font-size: 17px;
    line-height: 27px;
    font-weight: 300;
    color: #4a4a4a;
    margin-top: 25px;
}

.optimization .optimization_text span {
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    left: -240px;
    top: -54px;
    z-index: -1;
}